h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* SECCIÓN EQUIPO */
.text-muted {
    color: #6c757d !important;
}

.rounded-circle {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 3px solid #ffc107;
    margin-bottom: 10px;
}




/* RESPONSIVE */
@media (max-width: 992px) {
    .rounded-circle {
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 768px) {
    main {
        padding: 30px 10px;
    }
}