/* Sidebar */


aside ul {
    padding: 0;
    list-style: none;
}

aside ul li {
    padding: 0.5rem;
    margin: 0.5rem 0;
    border: 1px solid #ffffff;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
}

.list-group-item {
    background-color: #12343f;
    color: white;
}



/* Additional Styles for Buy/Sell Inputs */
.input-container {
    display: none;
    margin-top: 10px;
}

.input-container input {
    width: 100%;
    padding: 0.5rem;
    margin: 5px 0;
}

.input-container button {
    width: 100%;
    padding: 0.5rem;
    margin-top: 10px;
}

.input-container .result {
    margin-top: 10px;
}

.scroll-div {
    max-height: 76vh;
    /* Altura máxima relativa al viewport */
    overflow-y: auto;
    /* Muestra scroll solo si es necesario */
}

/* Ajustes para pantallas más pequeñas */
@media (max-width: 768px) {
    .scroll-div {
        max-height: 50vh;
        /* Reduce la altura en dispositivos móviles */
    }
}

    