<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form method="post" th:object="${usuario}" th:action="@{/createUser}">
    <label for="i1">Nombre</label>
    <input type="text" id="i1" required th:field="*{username}">

    <label for="i2">Password</label>
    <input type="password" id="i2" required th:field="*{password}">

    <label for="i3">Rol</label>
    <select name="" id="i3" th:field="*{rol}">
        <option value="USER">USER</option>
        <option value="ADMIN">ADMIN</option>
    </select>

    <input type="submit" value="submit" id="">
</form>
</body>
</html>